
# Created by https://www.gitignore.io/api/dotenv,vagrant
# Edit at https://www.gitignore.io/?templates=dotenv,vagrant

### dotenv ###
.env

### Vagrant ###
# General
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
*.log

### Vagrant Patch ###
*.box

# End of https://www.gitignore.io/api/dotenv,vagrant
